*
    box-sizing: border-box
body 
    padding: 0
    margin: 0
    +text
    // line-height: 21px;
    font-size: 16px
    font-family: "Montserrat"
    font-weight: 400

h1, h2, h3, h4, h5, h6
    padding: 0
    margin: 0   

ul, li 
    display: block
    padding: 0
    margin: 0 

input
    outline: none
.container
    max-width: 1305px
    margin: 0 auto

img 
    max-width: 100%

.true
    outline:  1px solid green
    color: green 
.false
    outline: 1px solid red
    color: red

.btn
    display: block
    background-color: #FED100
    width: 250px
    text-decoration: none
    padding: 13px 0 13px 0
    font-weight: 600
    font-size: 24px
    text-align: center
    color: #333333
    font-weight: 500
    font-size: 20px

.section
    padding-top: 95px
    &__title
        font-weight: 600
        font-size: 30px
        text-align: center
    &__subtitle
        text-align: center
        font-weight: 600
        font-size: 24px

