<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-block">
            <div class="footer__logo">
                <div class="logo">MOVEE</div>
                <!-- /.logo -->
                <div class="footer__decription">
                    Политика конфиденциальнности
                </div>
                <div class="footer__decription">
                    Соглашение на обработку персональных данных
                </div>
            </div>
            <nav class="nav">
                <ul class="nav__menu footer__menu">
                    <li class="nav__link footer__link">Главная</li>
                    <li class="nav__link footer__link">Цены</li>
                    <li class="nav__link footer__link">Автопарк</li>
                    <li class="nav__link footer__link">Отзывы</li>
                    <li class="nav__link footer__link">Контакты</li>
                </ul>
            </nav>
            <div class="social">
                <div class="social-block">
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--footer--youtube" alt="youtube" class="social__icons">
                    </a>
                    <!-- /.social__link -->
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--footer--vk" alt="vk" class="social__icons">
                    </a>
                    <!-- /.social__link -->
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--footer--fb" alt="facebook" class="social__icons">
                    </a>
                    <!-- /.social__link -->
                    <a href="#" class="social__link">
                        <img src="./img/icons.svg#img--footer--inst" alt="intagram" class="social__icons">
                    </a>
                    <!-- /.social__link -->
            </div>
            <!-- /.social-block -->
            <a href="#" class="social__email">hello@movee.ru</a>
            <!-- /.social__email -->
        </div>
        <!-- /.social -->
        <!-- /.nav -->
        <div class="contacts">
            <a href="#" class="contacts__btn btn">Обратный звонок</a>
            <!-- /.contacts__btn btn -->
            <div>
                <a href="tel:8(800)-080-12-13" class="contacts__phone">8(800)-080-12-13</a>
            </div>
        </div>
        <!-- /.contacts -->
        </div>
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->